blinker
boto3
botocore
chardet
click
colorama
et_xmlfile
Flask
Flask-Cors
itsdangerous
Jinja2
jmespath
MarkupSafe
numpy
openpyxl
pandas
pillow
python-dateutil
python-dotenv
pytz
reportlab
s3transfer
six
tzdata
urllib3
Werkzeug
xlrd
gunicorn
supabase-py

